/* Start with a base font for the entire site */

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3, h4 {
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    margin-bottom: 1.5em;
}

/* Style for links */

a, a:visited {
    color: #0077cc;
    text-decoration: none;
}

a:hover, a:focus {
    color: #004499;
    text-decoration: underline;
}

/* Button styles */

.btn {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    background-color: #0077cc;
    padding: 10px 20px;
    margin: 10px 2px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #004499;
}

/* Cards to display individual products */

.card-list {
    display: flex; 
    gap: 1em; 
    flex-wrap: wrap
}

.card {
    flex: 0 0 100%;
    max-width: 100%;
    background: #fff;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 1em auto;
    max-width: 800px;
}

.search-form input {
    flex: 1;
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
    box-sizing: border-box;
}

.search-form button {
    height: 35px;
    padding: 0 20px;
    border: none;
    background-color: #6165c9;
    color: white;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    box-sizing: border-box;
}

/* Styles for screens with max width of 768px */
@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 calc(50% - 1em);
        max-width: calc(50% - 1em);
    }  
}

/* Styles for screens with max width of 768px */
@media screen and (min-width: 992px) {
    .card {
        flex: 0 0 calc(25% - 0.75em);
        max-width: calc(25% - 0.75em);
    }
}

/* Styles for screens with max width of 768px */
@media screen and (min-width: 1200px) {
    .card {
        flex: 0 0 calc(15.83% - 0.83em);
        max-width: calc(15.83% - 0.83em);
    }
}


.card-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.card-content, .card-footer {
    padding: 0.5em;
}

.card-content h1, .card-content h2 {
    margin-top: 0;
}

.product-list .price, 
.product-list .title {
    font-weight: normal;
}