@inherits LayoutComponentBase

<div>
    <main>
        <nav>
            <h1>
                <a href="/">Time To Buy</a>
            </h1>
        </nav>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
