/* Start with a base font for the entire site */

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3, h4 {
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    margin-bottom: 1.5em;
}

/* Style for links */

a, a:visited {
    color: #0077cc;
    text-decoration: none;
}

a:hover, a:focus {
    color: #004499;
    text-decoration: underline;
}

/* Button styles */

.btn {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    background-color: #0077cc;
    padding: 10px 20px;
    margin: 10px 2px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #004499;
}

/* Cards to display individual products */

.card {
    background: #fff;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-content h1, .card-content h2 {
    margin-top: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
