@page "/Details/{id:int}"
@using TimeToBuy.Data
@inject ApplicationDbContext Db
@inject CartService CartService

<div class="container">
    <div class="left-column">
        <img src="@_product.ImageUrl" alt="Product Image" />
    </div>
    <div class="right-column">
        <div class="main-content">
            <h1>@_product.Name</h1>
            <p>@_product.Description</p>
        </div>
        <div class="checkout-box">
            @if (_itemAddedToCart)
            {
                <h4>Item added to cart</h4>
            }
            else
            {
                <form @formname="AddToCart" @onsubmit="AddToCart" method="post">
                    <button type="submit">Add to Cart</button>
                    <AntiforgeryToken/>
                </form>
            }
        </div>
    </div>
</div>

@code {
    private Product? _product;
    private bool _itemAddedToCart;

    [Parameter] 
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _product = await Db.Product.FindAsync(Id);
    }

    private void AddToCart()
    {
        CartService.AddToCart(new AddItemToCartCommand(_product.Id, _product.CurrentPrice, _product.Name));
        _itemAddedToCart = true;
    }

}