@page "/"

<PageTitle>Products</PageTitle>

<section class="card-list product-list">
    <div class="card">
        <div class="card-content">
            <img src="https://via.placeholder.com/400" alt="Spider-man 2 cover image" class="card-img"/>
            <h2 class="title">Spider-man 2</h2>
            <p>Bigger, better, more expensive</p>
        </div>
        <div class="card-footer">
            <h3 class="price">$79.99</h3>
        </div>
    </div>
</section>