@page "/"
@using TimeToBuy.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Db

<PageTitle>Products</PageTitle>

<section class="card-list product-list">
    @foreach (var product in _products)
    {
        <div class="card">
            <div class="card-content">
                <img src="https://via.placeholder.com/400" alt="@product.Name cover image" class="card-img"/>
                <h2 class="title">@product.Name</h2>
                <p>@product.ShortDescription</p>
            </div>
            <div class="card-footer">
                <h3 class="price">@product.CurrentPrice.ToString("C")</h3>
            </div>
        </div>
    }
</section>

@code {
    private List<Product>? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await Db.Product.ToListAsync();
    }

}